$headHeight: 300px;

.header-contain {
  height: $headHeight;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  @media screen and (max-width: 800px) {
    height: 150px;  
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .pic-wrapper {
    height: 100%;
  }
  .pic-container {
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
  }
}