<div class="blog-sidebar">
  <div class="blog-master">
    <img 
      [src]="assetsUri ? assetsUri + 'images/logo.jpg' : '../../../assets/images/logo.jpg'" 
      alt="logo" 
      (click)="goto(0)"
    >
    <p>変化を恐れるな</p>
  </div>
  <div class="tit">力士</div>
  <div class="sub-tit">IT, ACG</div>
  <div class="blog-tags">
    <mat-chip-list>
      <mat-chip
        class="blog-chip"
        *ngFor="let tag of tags"
        (click)="goto(tag.code)"
      >{{tag.name}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
