<div class="blog-sidebar">
  <div class="blog-master">
    <img 
      [src]="assetsUri ? assetsUri + 'images/logo.jpg' : '../../../assets/images/logo.jpg'" 
      alt="logo" 
      (click)="goto()"
    >
    <p>変化を恐れるな</p>
  </div>
  <div class="tit">力士</div>
  <div class="sub-tit">IT, ACG</div>
  <div class="blog-tags">
    <ng-container 
      *ngFor="let tag of tags"
    >
      <button 
        *ngIf="tag.count"
        (click)="goto(tag.code)"
        mat-raised-button  
        [matBadge]="tag.count" 
        matBadgeColor="accent"
      >{{tag.name}}
      </button> 
    </ng-container>
  </div>
</div>
 